body {
    font-family: "Open Sans";
}

.main a:hover {
    color: #1475C0;
}

.header {
    background: #1475c0;
    height: 32.7em;
    max-width: 100%;
}

.hero-background img {
    opacity: .09;
    position: absolute;
    width: 100%;
    height: 32.7em;
}

.hero {
    margin: 0 11%;
}

.logo {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

h3 {
    color: #083451;
    display: inline-block;
    position: relative;
    bottom: 17px;
    left: 7px;
    font-size: 1em;
    font-family: "Oswald";
    letter-spacing: 1px;
}

.fa-search {
    position: absolute;
    right: 6px;
    bottom: 18px;
    text-decoration: none;
    color: #083451;
}

.main-nav {
    position: relative;
    float: right;
    display: inline-block;
}

.main-nav li {
    display: inline-block;
    font-family: "Oswald";
    word-spacing: 2px;
    margin-top: 3px;
    font-size: 1.1em;
    margin-right: 12px;
}

.main-nav a {
    text-decoration: none;
    color: #083451;
}

.header h1 {
    text-align: center;
    color: white;
    font-size: 6rem;
    letter-spacing: 1px;
    padding-top: 7%;
    padding-left: 2%;
    margin-bottom: 0%;
    padding-bottom: 0;
}

.header h2 {
    color: #083451;
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    letter-spacing: .6px;
    margin-top: 0;
    margin-left: 2%;
}

.main a {
    color: #A3B3BF;
}

.main {
    width: 75%;
    margin: 0 auto;
}

.left-section {
    display: inline-block;
    width: 64%;
}

.right-section {
    display: inline-block;
    width: 30%;
    float: right;
}

.main-article h1 {
    color: #083452;
    font-size: 3.9em;
    margin: .67em 0;
    font-family: "Oswald";
    padding-top: .3em;
    margin-bottom: 2%;
}

.name {
    color: #106DB3;
    font-size: .8em;
    margin-left: 1%;
}

.date {
    font-size: .8em;
    padding-left: 3%;
    color: #A3B3BF;
}

.main-article img {
    display: block;
    opacity: .4;
    width: 100%;
    border-radius: 50%;
}

.main-article p {
    margin-top: 4%;
    line-height: 1.5;
    font-size: .97rem;
}

.author-section {
    margin-bottom: 5%;
}

.author-overlay {
    width: 3%;
    margin-left: 1.4%;
    background: #8CB9E3;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.main-sub-article p {
    line-height: 1.7;
    font-size: .97rem;
    margin-bottom: 1%;
}

.whoa {
    color: #106DB3;
    margin-bottom: 4%;
    margin-top: 7.3%;
    margin-left: 1.2%;
    font-size: 1.7em;
    border-left: 2px solid #D3D3D3;
    padding-left: 3%;
    line-height: 2.1em;
}

.mobile-quote {
    display: none;
}

.read-comments {
    margin-left: 1%;
    display: inline-block;
    width: 25%;
    background: #A3B3BF;
    overflow: hidden;
    padding-right: 1%;
}

.read-comments a {
    text-decoration: none;
    color: white;
}

.read-comments span {
    font-size: .8em;
    padding-left: 8%;
}

.read-comments:hover {
    background: #106DB3;
}

.read-comments a:hover {
    color: #fff;
}

.read-comments:hover .fa-comment {
    background: #083452;
}

.fa-comment {
    background: #5E686F;
    width: 21%;
    text-align: center;
    height: 1.4em;
    padding-top: 3%;
}

.read-later {
    display: inline-block;
    width: 21%;
    background: #A3B3BF;
    overflow: hidden;
    margin-left: 5px;
}

.read-later:hover {
    background: #106DB3;
}

.read-later:hover .fa-cloud-upload {
    background: #083452;
}

.read-later a:hover {
    color: #fff;
}

.read-later span {
    font-size: .8em;
    padding-left: 8%;
}

.read-later a {
    text-decoration: none;
    color: white;
}

.fa-cloud-upload {
    background: #5E686F;
    width: 26%;
    text-align: center;
    height: 1.5em;
    padding-top: 2%;
}

.share {
    height: 1.7em;
    margin-left: 1%;
    display: inline-block;
    width: 24%;
    background: #A3B3BF;
    overflow: hidden;
    padding-right: 1%;
}

.share a {
    text-decoration: none;
    color: white;
}

.share span {
    font-size: .8em;
    padding-left: 8%;
}

.fa-share-square {
    background: #5E686F;
    width: 21%;
    text-align: center;
    height: 1.5em;
    padding-top: 3%;
}

.share:hover {
    background: #106DB3;
}

.share a:hover {
    color: #fff;
}

.share:hover .fa-share-square {
    background: #083452;
}

.author-contact-overlay {
    width: 28%;
    background: #8CB9E3;
    margin-top: 30%;
    margin-left: 45%;
    border-radius: 50%
}

.author-contact img {
    display: block;
    opacity: .4;
    border-radius: 50%;
    width: 100%;
}

h4 {
    color: #106DB3;
    margin-top: 4%;
    text-align: center;
    margin-bottom: 0;
    margin-left: 17%;
}

.author-contact span {
    padding-right: 4%;
}

.author-contact ul {
    padding-left: 0;
    text-align: center;
    margin-left: 19%;
    font-size: 1.03em;
    margin-top: 1%;
}

.author-contact li {
    display: inline-block;
    font-size: .8em;
}

.author-contact a {
    text-decoration: none;
}

.twitter {
    border-right: 1px solid rgba(211, 211, 211, .3);
}

.facebook {
    border-right: 1px solid rgba(211, 211, 211, .3);
}

.ad {
    width: 100%;
}

.ad-overlay {
    width: 96%;
    height: 18.7em;
    background: #106DB3;
    margin-left: 10%;
    margin-top: 18%;
}

.ad img {
    opacity: .4;
    width: 100%;
    height:18.7em;
}

.ad span {
    float: right;
    text-decoration: underline;
    margin-top: 3%;
    margin-right:-6%;
}

.sideheader {
    color: #106DB3;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 27%;
    padding-left: 8%;
}

.sub-article p {
    color: #A3B3BF;
    line-height: 1.5;
    padding-left: 10%;
    width: 95%;
    padding-top: 0;
    margin-top: 0;
    font-size: .9em;
}

.popular {
    text-align: center;
    width: 100%;
    border-top: 1px solid #ECF0F2;
    font-family: "Oswald";
    font-size: 2.6em;
    font-weight: 100;
    padding-left: .3%;
    margin-top: 5%;
    line-height: 1em;
    color: #083452;
}

.more-articles h2 {
    color: #083452;
    position: absolute;
    bottom: -10px;
    left: 31px;
    font-family: "Oswald";
    font-size: 1.7em;
}

.more-articles {
    margin-top: 53px;
    position: relative;
    width: 100%;
}

.popular-overlay-one {
    position: relative;
    float: left;
    width: 25%;
    background: #106DB3;
}

.popular-overlay-one img {
    height: 329px;
    width: 100%;
    opacity: .4;
    display: block;
}

.popular-overlay-two {
    position: relative;
    float: left;
    width: 25%;
    background: #106DB3;
}

.popular-overlay-two img {
    height: 329px;
    width: 100%;
    opacity: .4;
    display: block;
}

.popular-overlay-three {
    position: relative;
    float: left;
    width: 25%;
    background: #106DB3;
}

.popular-overlay-three img {
    height: 329px;
    width: 100%;
    opacity: .4;
    display: block;
}

.popular-overlay-four {
    position: relative;
    float: right;
    width: 25%;
    background: #106DB3;
}

.popular-overlay-four img {
    height: 329px;
    width: 100%;
    opacity: .4;
    display: block;
}

.popular-overlay-one:hover img {
    opacity: 1;
}

.popular-overlay-one:hover h2 {
    color: #fff;
}

.popular-overlay-two:hover img {
    opacity: 1;
}

.popular-overlay-two:hover h2 {
    color: #fff;
}

.popular-overlay-three:hover img {
    opacity: 1;
}

.popular-overlay-three:hover h2 {
    color: #fff;
}

.popular-overlay-four:hover img {
    opacity: 1;
}

.popular-overlay-four:hover h2 {
    color: #fff;
}

footer {
    content: '';
    clear: both;
    display: block;
    height: 6em;
    background: #083452;
}

.copyright {
    float: left;
    padding-left: 12%;
    padding-top: 1.4%;
}

.copyright span {
    font-size: .8rem;
    letter-spacing: .02em;
    color: #A3B3BF;
}

.copyright img {
    vertical-align: middle;
    text-align: center;
}

.footer-nav {
    float: right;
    margin-right: 10.5%;
    font-size: .86em;
    margin-top: 2.3%;
}

.footer-nav a {
    text-decoration: none;
    color: #A3B3BF;
}

.footer-nav li {
    display: inline-block;
    padding-right: 9px;
}

.navone {
    border-right: 1px solid #A3B3BF;
}

.navtwo {
    border-right: 1px solid #A3B3BF;
}

.navthree {
    border-right: 1px solid #A3B3BF;
}

@media (max-width:600px) {
    .main a:hover {
        color: #1475C0;
    }
    .header {
        background: #1475c0;
        height: 14.7em;
        width: 100%;
    }
    .hero {
        margin: 0;
    }
    .hero-background img {
        opacity: .09;
        position: absolute;
        width: 100%;
        height: 14.7em;
    }
    .logo {
        display: block;
        margin:0 auto;
    }
    h3 {
        display: none;
    }
    .fa-search {
        position:relative;
        bottom:2px;
        display:inline-block;
        color: #083451;

    }
    .main-nav {
        display:block;
        width:100%;
        font-size: 1.3em;
    }
    .main-nav ul{
      text-align:center;
    }
    .main-nav li {
      font-family: "Oswald";
      word-spacing: 2px;
      margin-top: 2%;
      font-size: 1.1em;
      margin-right: 2%;
    }
    .main-nav a {
        text-decoration: none;
        color: #083451;
    }
    .header h1 {
        width: 80%;
        font-size: 2em;
        display: block;
        margin: 0 auto;
        padding-top: 0%;
        padding-left: 1%;
        margin-top: 2%;
    }
    .header h2 {
        color: #083451;
        text-align: center;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: 300;
        letter-spacing: 1.4px;
        margin-top: 0;
        margin-left: 2%;
    }
    .main a {
        color: #A3B3BF;
    }
    .main {
        width: 100%;
        margin: 0 auto;
    }
    .left-section {
        display: inline-block;
        width: 100%;
        margin-bottom: 9%;
    }
    .right-section {
        display: inline-block;
        width: 100%;
        float:none;
    }
    .main-article h1 {
        color: #083452;
        font-size: 3.9em;
        margin: .67em 0;
        font-family: "Oswald";
        padding-top: .3em;
        margin-bottom: 2%;
        width: 80%;
        margin-left: 5%;
    }
    .name {
        display: none;
    }
    .date {
        display: none;
    }
    .main-article img {
        display: none;
    }
    .main-article p {
        margin-top: 4%;
        line-height: 1.5;
        font-size: .97rem;
        margin-left: 6%;
        margin-right: 6%;
    }
    .whoa {
        display: none;
    }
    .mobile-quote {
        margin-left: 6%;
        display: block;
        color: #106DB3;
        margin-bottom: 4%;
        margin-top: 7.3%;
        font-size: 2em;
        border-left: 2px solid #D3D3D3;
        padding-left: 6%;
        line-height: 1.4em;
        font-family: "Oswald";
    }
    .author-section {
        margin-bottom: 5%;
    }
    .author-overlay {
        width: 3%;
        margin-left: 1.4%;
        background: #8CB9E3;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
    }
    .main-sub-article p {
        line-height: 1.7;
        font-size: .97rem;
        margin-bottom: 1%;
        margin-left: 6%;
        margin-right: 6%;
    }
    .main-sub-article h2 {
        color: #106DB3;
        margin-bottom: 4%;
        margin-top: 7.3%;
        margin-left: 1.2%;
        font-size: 1.7em;
        border-left: 2px solid #D3D3D3;
        padding-left: 3%;
        line-height: 2.1em;
    }

    .read-comments {
        width: 10%;
        margin-left: 6%;
        display: inline-block;
        background: transparent;
        padding-right: 0;
    }
    .read-comments a {
        text-decoration: none;
        color: white;
    }
    .read-comments span {
        display: none;
    }
    .read-comments:hover {
        background: #106DB3;
    }
    .read-comments a:hover {
        color: #fff;
    }
    .read-comments:hover .fa-comment {
        background: #083452;
    }
    .fa-comment {
        background: #5E686F;
        width: 100%;
        text-align: center;
        height: 1.5em;
        padding-top: 9%;
    }
    .read-later {
        width: 10%;
        margin-left: 1%;
        display: inline-block;
        background: transparent;
        padding-right: 0;
    }
    .read-later span {
        display: none;
    }
    .read-later:hover {
        background: #106DB3;
    }
    .read-later:hover .fa-cloud-upload {
        background: #083452;
    }
    .read-later a:hover {
        color: #fff;
    }
    .read-later span {
        font-size: .8em;
        padding-left: 8%;
    }
    .read-later a {
        text-decoration: none;
        color: white;
    }
    .fa-cloud-upload {
        background: #5E686F;
        width: 100%;
        text-align: center;
        height: 1.5em;
        padding-top: 9%;
    }
    .share {
        width: 10%;
        margin-left: 1%;
        display: inline-block;
        background: transparent;
        padding-right: 0;
    }
    .share a {
        text-decoration: none;
        color: white;
    }
    .share span {
        font-size: .8em;
        padding-left: 8%;
    }
    .fa-share-square {
        background: #5E686F;
        width: 100%;
        text-align: center;
        height: 1.5em;
        padding-top: 9%;
    }
    .share:hover {
        background: #106DB3;
    }
    .share a:hover {
        color: #fff;
    }
    .share:hover .fa-share-square {
        background: #083452;
    }
    .author-contact-overlay {
        width: 28%;
        background: #8CB9E3;
        border-radius: 50%;
        margin: 0 auto;
    }
    .author-contact img {
        display: block;
        opacity: .4;
        border-radius: 50%;
        width: 100%;
    }
    h4 {
        color: #106DB3;
        text-align: center;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .author-contact span {
        padding-right: 4%;
    }
    .author-contact ul {
        font-size: 1.03em;
        margin: 0 auto;
    }
    .author-contact li {
        display: inline-block;
        font-size: .8em;
    }
    .author-contact a {
        text-decoration: none;
    }
    .twitter {
        border-right: 1px solid rgba(211, 211, 211, .3);
    }
    .facebook {
        border-right: 1px solid rgba(211, 211, 211, .3);
    }
    .ad {
        width: 100%;
    }
    .ad-overlay {
        width: 62%;
        height: 20.7em;
        background: #106DB3;
        margin-top:5%;
        margin-right:auto;
        margin-left:auto;
    }
    .ad img {
        opacity: .4;
        width: 100%;
        height: 20.7em;
    }
    .ad span {
        margin-top: 1%;
        margin-right: 19%;
        text-decoration: underline;
    }
    .sideheader {
        color: #106DB3;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-top: 26%;
        padding-left: 8%;
    }
    .sub-article p {
        display: none;
    }
    .popular {
        text-align: center;
        font-family: "Oswald";
        font-size: 1.4em;
        font-weight: 100;
        line-height: 1em;
        color: #083452;
        margin-top: 20%;
        padding-top: 10%;
    }
    .more-articles h2 {
        color: #083452;
        position: absolute;
        bottom: -10px;
        left: 31px;
        font-family: "Oswald";
        font-size: 1.7em;
    }

    .popular-overlay-one {
        display: none;
    }
    .popular-overlay-two {
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background: #106DB3;
        margin-bottom: 2%;
    }
    .popular-overlay-two img {
        height: 22em;
        width: 100%;
        opacity: .4;
        display: block;
    }
    .popular-overlay-three {
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background: #106DB3;
        margin-bottom: 2%;
    }
    .popular-overlay-three img {
        height: 22em;
        width: 100%;
        opacity: .4;
        display: block;
    }
    .popular-overlay-four {
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background: #106DB3;
        margin-bottom: 2%;
    }
    .popular-overlay-four img {
        height: 22em;
        width: 100%;
        opacity: .4;
        display: block;
    }
    .popular-overlay-one:hover img {
        opacity: 1;
    }
    .popular-overlay-one:hover h2 {
        color: #fff;
    }
    .popular-overlay-two:hover img {
        opacity: 1;
    }
    .popular-overlay-two:hover h2 {
        color: #fff;
    }
    .popular-overlay-three:hover img {
        opacity: 1;
    }
    .popular-overlay-three:hover h2 {
        color: #fff;
    }
    .popular-overlay-four:hover img {
        opacity: 1;
    }
    .popular-overlay-four:hover h2 {
        color: #fff;
    }
    footer {
        content: '';
        clear: both;
        display: block;
        height: 13em;
        background: #083452;
        margin-top: 214%;
    }
    .copyright {
        padding: 0;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .copyright span {
        display: block;
        font-size: 1.2rem;
        letter-spacing: .02em;
        color: #A3B3BF;
        text-align: center;
        margin-right: 15%;
        margin-left: 15%;
    }
    .copyright img {
        display: block;
        margin: 0 auto;
    }
    .footer-nav {
        text-align: center;
        font-size: 1em;
    }
    .footer-nav a {
        text-decoration: none;
        color: #A3B3BF;
    }
    .footer-nav li {
        display: inline-block;
        padding-right: 9px;
    }
    .navone {
        border-right: 1px solid #A3B3BF;
    }
    .navtwo {
        border-right: 1px solid #A3B3BF;
    }
    .navthree {
        border-right: 1px solid transparent;
    }
}
